<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Data Dashboard">
    <meta name="author" content="Aboze Brain">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Data Vibe</title>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
  </head>
  <body>
      
   
        
    <header class="header">
      <div class="logo"><img src="/static/logo.png" alt=""></div>
      <div class="toggle"></div>
      <div class="navigation">
        <ul>
          <li><a href="#home">Home</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#work">Work</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
        <div class="social-bar">
          <ul>
            <li>
              <a href="https://facebook.com">
                <img
                  src="https://github.com/bradtraversy/creative-agency-website/blob/master/images/facebook.png?raw=true"
                  target="_blank"
                  alt=""
                />
              </a>
            </li>
            <li>
              <a href="https://twitter.com">
                <img
                  src="https://github.com/bradtraversy/creative-agency-website/blob/master/images/twitter.png?raw=true"
                  target="_blank"
                  alt=""
                />
              </a>
            </li>
            <li>
              <a href="https://instagram.com">
                <img
                  src="https://github.com/bradtraversy/creative-agency-website/blob/master/images/instagram.png?raw=true"
                  target="_blank"
                  alt=""
                />
              </a>
            </li>
          </ul>
          <a href="mailto:jannelson36@gmail.com" class="email-icon">
            <img
              src="https://github.com/bradtraversy/creative-agency-website/blob/master/images/email.png?raw=true"
              alt=""
            />
          </a>
        </div>
      </div>
    </header>
    <!-- home -->
    <section class="home" id="home">
      <img
        src="https://images.unsplash.com/photo-1507206130118-b5907f817163?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=768&q=80"
        class="home-img"
        alt=""
      />
      <div class="home-content">
        <h2>
          We help <span class="highlight">you</span> to achieve <br />
          <span class="highlight">your goals</span>
        </h2>
        <p>
          Unlock the full potential of your data with the <span class="highlight">best dashboards</span> for <span class="highlight">Data Visualization</span>, 
          where powerful insights meet stunning visualizations to drive informed decisions and transform your business.
        </p>
        <a href="#services" class="btn">Get Started</a>
      </div>
    </section>
    <!-- services -->
    <section class="serve" id="services">
      <div class="title">
        <h2>Services that we help you with</h2>
        <p>
          Data Vibe is a leading provider of comprehensive data visualization solutions. 
          We offer a wide range of services designed to help businesses unlock the power of 
          their data through compelling visualizations.
        </p>
      </div>
      <div class="services">
        <div class="service">
          <div class="icon">
            <img
              src="https://github.com/bradtraversy/creative-agency-website/blob/master/images/001.png?raw=true"
              alt=""
            />
          </div>
          <h3>Interactive Dashboard Design</h3>
          <p>
            We specialize in creating interactive and user-friendly dashboards 
            that allow users to explore and analyze data effectively.
          </p>
        </div>
        <div class="service">
          <div class="icon">
            <img
              src="https://github.com/bradtraversy/creative-agency-website/blob/master/images/002.png?raw=true"
              alt=""
            />
          </div>
          <h3>Custom Visualization Development</h3>
          <p>
            The team at Data Vibe can develop custom 
            visualizations tailored to specific data requirements and business needs.
          </p>
        </div>
        <div class="service">
          <div class="icon">
            <img
              src="https://github.com/bradtraversy/creative-agency-website/blob/master/images/003.png?raw=true"
              alt=""
            />
          </div>
          <h3>Integration with Analytics Platforms</h3>
          <p>
            Data Vibe integrates dashboards with popular analytics platforms and tools, 
            such as Tableau, Power BI, or Google Analytics.
          </p>
        </div>
        <div class="service">
          <div class="icon">
            <img
              src="https://github.com/bradtraversy/creative-agency-website/blob/master/images/004.png?raw=true"
              alt=""
            />
          </div>
          <h3>Data Analysis and Insights</h3>
          <p>
            We help transform data into compelling stories by creating narrative-driven visualizations 
            and reports that aim to communicate insights effectively.
          </p>
        </div>
        <div class="service">
          <div class="icon">
            <img
              src="https://github.com/bradtraversy/creative-agency-website/blob/master/images/005.png?raw=true"
              alt=""
            />
          </div>
          <h3>Mobile Responsive Dashboards</h3>
          <p>
            They develop responsive dashboards that adapt to different screen sizes and devices, 
            including mobile phones and tablets.
          </p>
        </div>
        <div class="service">
          <div class="icon">
            <img
              src="https://github.com/bradtraversy/creative-agency-website/blob/master/images/006.png?raw=true"
              alt=""
            />
          </div>
          <h3>Training and Support</h3>
          <p>
            Best Dashboard for Data Visualization offers training sessions and workshops 
            to educate clients on best practices in data visualization, dashboard usage, and data interpretation. 
          </p>
        </div>
      </div>
    </section>
    <!-- work -->
    <section class="work" id="work">
      <div class="title">
        <h1>Some of our finest work</h1>
        <p>
          Our analysis below centers around defected customers, 
          utilizing data retrieved from a CSV file. </br>
          We delve into the dataset to extract meaningful insights 
          and gain a deeper understanding of customer attrition factors.</br>
          The interactive charts represent frontend data visualization 
          using Flask and D3js utilizing data retrieved from a CSV file or any data source.
        </p>
      </div>

      <div class="tit">
        <p>
          *Click on pie chart to view analyzed data
        </p>
      </div>

      <div class="port">
        <div class="item-data" id="pieChart"></div> 
        <div class="item-data" id="barChart"></div>
      </div>


        <div class="portfolio">
        <div class="item">
          <img
            src="https://github.com/bradtraversy/creative-agency-website/blob/master/images/portfolio-item14.jpg?raw=true"
            alt=""
          />
          <div class="action">
            <a href="">Launch</a>
          </div>
        </div>
        <div class="item">
          <img
            src="https://github.com/bradtraversy/creative-agency-website/blob/master/images/portfolio-item15.jpg?raw=true"
            alt=""
          />
          <div class="action">
            <a href="">Launch</a>
          </div>
        </div>
        <div class="item">
          <img
            src="https://github.com/bradtraversy/creative-agency-website/blob/master/images/portfolio-item16.jpg?raw=true"
            alt=""
          />
          <div class="action">
            <a href="">Launch</a>
          </div>
        </div>  
      </div>
    </section>

 <!-- data analytics -->
 <section class="analytics" id="analytics">
  <div class="title">
    <h2>*Get your Free trial</h2>
    <p>
      Upload your data file to<span class="highlight">Data Vibe!</span>
      for cleaning, analysis and visualization.
    </p>
  </div>
      
 </section>


    <!-- contact -->
    <section class="cont" id="contact">
      <div class="title">
        <h2>Contact us</h2>
        <p>
          Contact us to get your <span class="highlight">Data Vibe!</span> </br>
          70% OFF for your first package, contact us to gain more info:
        </p>
      </div>
      <div class="contact">
        <div class="contact-form">
          <form>
            <div class="row">
              <div class="input50">
                <input type="text" placeholder="First Name" />
              </div>
              <div class="input50">
                <input type="text" placeholder="Last Name" />
              </div>
            </div>
            <div class="row">
              <div class="input50">
                <input type="text" placeholder="Email" />
              </div>
              <div class="input50">
                <input type="text" placeholder="Subject" />
              </div>
            </div>
            <div class="row">
              <div class="input100">
                <textarea placeholder="Message"></textarea>
              </div>
            </div>
            <div class="row">
              <div class="input100">
                <input type="submit" value="Send" />
              </div>
            </div>
          </form>
        </div>
        <div class="contact-info">
          <div class="info-box">
            <img
              src="https://github.com/bradtraversy/creative-agency-website/blob/master/images/address.png?raw=true"
              class="contact-icon"
              alt=""
            />
            <div class="details">
              <h4>Address</h4>
              <p>Nairobi, Kenya</p>
            </div>
          </div>
          <div class="info-box">
            <img
              src="https://github.com/bradtraversy/creative-agency-website/blob/master/images/email.png?raw=true"
              class="contact-icon"
              alt=""
            />
            <div class="details">
              <h4>Email</h4>
              <a href="mailto:anyone@example.com">jannnelson36@gmail.com</a>
            </div>
          </div>
          <div class="info-box">
            <img
              src="https://github.com/bradtraversy/creative-agency-website/blob/master/images/call.png?raw=true"
              class="contact-icon"
              alt=""
            />
            <div class="details">
              <h4>Call</h4>
              <a href="tel:+19785555555">+254 7** 000 000</a>
            </div>
          </div>
        </div>
      </div>
    </section>
          
    <div class="copyright-area">© Copyright <script>document.write(new Date().getFullYear())</script>, DATA VIBE.</div>

   



    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script>
        const pieChartDataUrl = "{{ url_for('get_piechart_data') }}";
        const barChartDataUrl = "{{ url_for('get_barchart_data') }}";
    </script>
    <script src="{{ url_for('static', filename='js/pieChart.js') }}"></script>
    <script src="{{ url_for('static', filename='js/barChart.js') }}"></script>
    <script src="{{ url_for('static', filename='js/updateBarChart.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  </body>
</html>